.modal-header{
    background-color: $primary;
    color:white
}
.modal{
    label{
        margin-top: .5rem;
        margin-bottom: .2rem;
    }
    .form-control{
        border-radius: 0;
        border:none;
        animation: show 2s ease-out;
        border-bottom:1px solid $primary-dark;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
            background-color: $primary-light;
            border-bottom:2px solid $primary;
        }
    }
}