#plusbutton{
    cursor: pointer;
    transition: all .3s;
    &:hover{
        transform: scale(1.05);
    }
}

.underline{
    width: 120%;
    height: 3px;
    background-color: $second;
    animation: slide 1s ease-in-out;
}
.main{
    min-height: 70vh;
}
.page-title{
    max-width: max-content;
    font-weight: bold;
    color: $primary-dark;
}

.table{
    table{
        background-color: white;
        text-align: center;
        th{
            background-color: $primary;
            color: white;
        }
        td{
            border: 2px solid rgba(0, 0, 0, 0);
            transition: all 0.3s;
            border-bottom:2px solid $second-light;
            svg{
                cursor: pointer;
                &:hover{
                opacity: 0.5;
                transition: all 0.3s;}
            }
        }
        tbody{
            tr:nth-child(2n){
                background-color: $primary-light;
            }
            tr{
                transition: all 0.3s;
                &:hover{
                    transform: translate(-2px,-1px);
                    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
                    background-color:rgba($sub-light, 0.3);
                    // font-weight: bold;
                    td{
                        color: black !important;
                    }
                    // color: white;
                }
            }
        }
    }
}