$primary:#8FD3F3;
$primary-dark:#005085;
$primary-light:#F3FAFD;
$sub:#22AC38;
$sub-dark:#007C29;
$sub-light:#D2E7BF;
$second:#F7BB1C;
$second-light:#FDF4CD;
body{
    background-color: white;
    min-width: 370px;
}
@keyframes slide {
    0%{width: 0;}
    100%{width: 120%;}
}
.underline{
    width: 120%;
    height: 3px;
    background-color: $second;
    animation: slide 1s ease-in-out;
}
@keyframes show {
    0%{opacity: 0}
    100%{opacity: 1}
}
.modal{
    label{
        margin-top: .5rem;
        margin-bottom: .2rem;
    }
    .form-control{
        border-radius: 0;
        border:none;
        animation: show 2s ease-out;
        border-bottom:1px solid $primary-dark;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
            background-color: $primary-light;
            border-bottom:2px solid $primary;
        }
    }
}
.page-title{
    max-width: max-content;
    font-weight: bold;
    color: $primary-dark;
}
.table,.desc{
    background-color: white;
}
.main{
    min-height: 70vh;
}
.modal-header{
    background-color: $primary;
    color:white
}
.desc{
    background-color:$primary-light ;
}
.error{
    border-color: red;
}
#plusbutton{
    cursor: pointer;
    transition: all .3s;
    &:hover{
        transform: scale(1.05);
    }
}
.hover{
 color: rgba(0, 0, 0, 0.3);
 background-color: rgba($sub-light, 0.3) !important;
}
.table{
    table{
        text-align: center;
        th{
            background-color: $primary;
            color: white;
        }
        td{
            border: 2px solid rgba(0, 0, 0, 0);
            transition: all 0.3s;
            border-bottom:2px solid $second-light;
            svg{
                cursor: pointer;
                &:hover{
                opacity: 0.5;
                transition: all 0.3s;}
            }
        }
        tbody{
           
            tr:nth-child(2n){
                background-color: $primary-light;
            }
            tr{
                transition: all 0.3s;
                &:hover{
                    transform: translate(-2px,-1px);
                    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
                    background-color:rgba($sub-light, 0.3);
                    // font-weight: bold;
                    td{
                        color: black !important;
                    }
                    // color: white;
                }
            }
        }
    }
}