$primary:#8FD3F3;
$primary-dark:#005085;
$primary-light:#F3FAFD;
$sub:#22AC38;
$sub-dark:#007C29;
$sub-light:#D2E7BF;
$second:#F7BB1C;
$second-light:#FDF4CD;
body{
    background-color: white;
    min-width: 370px;
}
.desc{
    background-color:$primary-light ;
}
@import "./styles/animate";
@import "./styles/table";
@import "./styles/modal";